name: CI

on:
  # Trigger the workflow on pull request to master
  pull_request:
    branches:
      - master

jobs:
  ## checkout master and generate stats file
  build-master:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: "master"
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: build
      - uses: actions/upload-artifact@v1
        with:
          name: "build-master"
          path: "dist"

  build-pr:
    ## checkout the PR and generate stats file
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: build
      - uses: actions/upload-artifact@v1
        with:
          name: "build-pr"
          path: "dist"

  compare-stats:
    runs-on: ubuntu-latest
    needs: [build-master, build-pr]
    steps:
      - uses: actions/checkout@v2 # code has to be checked out in order to run the local action under ./.github/actions
      - uses: borales/actions-yarn@v2.0.0
        with:
          cmd: install
      - uses: actions/download-artifact@v1
        with:
          name: "build-pr"
          path: "build-pr"
      - uses: actions/download-artifact@v1
        with:
          name: "build-master"
          path: "build-master"
      - name: "Compare Stats"
        uses: ./.github/actions/compare-stats
        with:
          hideUnchanged: true
          oldStatsFile: ./build-master/stats.json
          newStatsFile: ./build-pr/stats.json
          diffOutputFile: ./diff.txt
      - name: "Comment on PR"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          curl --fail --verbose -H "Accept: application/json" -H "Content-Type: application/json" -H "Authorization: token ${GITHUB_TOKEN}" --data "$(jq --null-input --arg escaped_diff "$(cat diff.txt)" '{body: $escaped_diff}')" $(cat $GITHUB_EVENT_PATH | jq --raw-output '.pull_request.comments_url')
